# ignore all
*

# except for
!sawnergy/
!sawnergy/*.py
!sawnergy/config.json
# ----------------------------
!sawnergy/_cython/
!sawnergy/_cython/*.pyx
!sawnergy/_cython/*.py
!sawnergy/_cython/*.c
!sawnergy/_cython/*.cpp
# ----------------------------
!sawnergy/embedding
!sawnergy/embedding/*.py
# ----------------------------
!sawnergy/rin/
!sawnergy/rin/*.py
# ----------------------------
!sawnergy/visual/
!sawnergy/visual/*.py
# ----------------------------
!.gitignore
!README.md
!requirements.txt
