# Ignore all files
*

# Except:
!core/
!configs/
!core/FramesAnalyzer.py
!core/AnalysesProcessor.py
!core/AtToResConverter.py
!core/InteractionsToProbsConverter.py
!core/Protein.py
!core/util.py
!core/pdbToDict.py
!configs/logging.json
!configs/root.json
!model.py
!generate_network.sh
!.gitignore
!requirements.txt
!README.md
