# Ignore all files
*

# Except:
!interfaces/
!interfaces/AnalysesProcessorABC.py
!interfaces/FramesAnalyzerABC.py
!interfaces/InteractionsToProbabilitiesABC.py
!FramesAnalyzer.py
!AnalysesProcessor.py
!AtToResConverter.py
!InteractionsToProbsConverter.py
!Protein.py
!util.py
!model.py
!configure_network.sh
!requirements.txt
!README.md
!.gitignore